/* Box sizing: border-box items */
html {
    box-sizing: border-box;
    background-color: #e8ecf8;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Navigation Styling */
nav {
    float: right;
    margin-top: 10px;
    display: none;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-left: 6px;
    text-decoration: none;
    color: #2A3740;
}

nav a:hover {
    color: white;
    border-bottom: 5px solid white;
}

nav a:first-of-type {
    margin-left: 0px;
}

.active {
    color: #B38B52;
    font-weight: bolder;
    border-bottom: 5px solid #B38B52;
    /* TODO: pick a better color (for accessibility ratios) for the active class */
}

/* Styling for body */
/* by default, we style for the mobile view, then scaling up as necessary w/ media queries below */
body {
    max-width: 300px;
    font-family: 'Playfair Display', serif;
    color: #3C4B67;
    margin: 48px 0px;
    margin: 0 auto;
}

body img {
    max-width: 100%;
}

section p {
    margin-top: 0;
}

/* Cosmetic stylings for text */
h1,
h2,
.job {
    font-weight: 700;
    color: #2A3740;
}

h1 {
    font-size: 1.5em;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

p {
    font-size: 0.8em;
}

header {
    margin-bottom: 24px;
}

header a {
    text-decoration: none;
    color: #2A3740;
}

.job {
    margin-bottom: 12px;
}

.job .title {
    font-size: 1em;
}

.job .location,
.location {
    font-weight: 400;
}

.job .date {
    font-style: italic;
    font-weight: 400;
}

.job * {
    margin-bottom: 4px;
}

/* Media Queries for Responsive Design */
/* Phones */
@media screen and (min-width: 400px) {
    body {
        max-width: 360px;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.6em;
    }

    .job .title {
        font-size: 1.1em;
    }
    
    p {
        font-size: 0.9em;
    }

}

/* Somewhere between phones & tablets */
@media screen and (min-width: 600px) {
    body {
        max-width: 560px;
    }

    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 2em;
    }

    .job .title {
        font-size: 1.3em;
    }
    
    p {
        font-size: 1em;
    }
}

/* Tablet (This is where hamburger should kick in) */ 
@media screen and (min-width: 768px) {
    body {
        max-width: 608px;
    }

    header {
        margin-top: 24px;
    }

    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2.6em;
    }

    .job .title {
        font-size: 1.6em;
    }
    
    p {
        font-size: 1.2em;
    }

    /* menu is now visible: hamburger menu should disappear */
    nav {
        display: initial;
    }

}

/* Desktop */
@media screen and (min-width: 1024px) {
    body {
        max-width: 768px;
    }

    header {
        margin-top: 24px;
    }

    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .job .title {
        font-size: 2em;
    }
    
    p {
        font-size: 1.5em;
    }
}

/* Desktop 1440p*/
@media screen and (min-width: 1440px) {
    body {
        max-width: 1200px;
    }

    header {
        margin-top: 24px;
    }

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .job .title {
        font-size: 2em;
    }
    
    p {
        font-size: 1.5em;
    }
}

/* Clearfix 😒 */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}